{% extends 'layout.html'%}

{% block body%}


<div class="row py-4">
    <div class="col-md-6 shadow p-3 mb-5 bg-body rounded ">
        <form class="form-floating" action="/addpacientes" method="POST">
            <div class="row">
               <div class="col-md-12">
                <h3 class="text-center"> Formulario Pacientes</h3>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="documento" id="floatingInput" placeholder="Documento" >
                    <label for="floatingInput">Documento</label>
                    <div class="valid-tooltip">
                        Looks good!
                      </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="nombres" id="floatingInput" placeholder="Nombres">
                    <label for="floatingInput">Nombres</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="apellidos" id="floatingInput" placeholder="Nombres">
                    <label for="floatingInput">Apellidos</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="edad" id="floatingInput" placeholder="Nombres">
                    <label for="floatingInput">Edad</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="direccion" id="floatingInput" placeholder="Nombres">
                    <label for="floatingInput">Direccion</label>
                </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-select" aria-label="Fumador?" name="sexo" id="check2">
                            <option selected>Genero</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                          </select>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select" aria-label="Fumador?" name="fumador1" id="check">
                            <option selected>Eres Fumador</option>
                            <option value="0">Si</option>
                            <option value="1">No</option>
                          </select>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-md-12" hidden id="fumador">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="fumador" id="floatingInput" placeholder="Nombres">
                            <label for="floatingInput">Cuantos años?</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="estatura" id="floatingInput" placeholder="Nombres">
                            <label for="floatingInput">Estatura</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="peso" id="floatingInput" placeholder="Nombres">
                            <label for="floatingInput">Peso</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <select class="form-select" aria-label="Dieta?" name="dieta" id="check">
                                <option selected>Haces Dieta</option>
                                <option value="Si">Si</option>
                                <option value="No">No</option>
                              </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-grid gap-2 py-4">
                            <button class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </div>
            </form>
    </div>

    <div class="col-md-5 py-1 mx-auto">
        <img src="{{ url_for('static',filename='img/formulario.jpg')}}" alt="" class="rounded img-fluid shadow p-3 mb-5 bg-body rounded ">
    </div>
</div>

<script>
    var campo=  document.getElementById('fumador');
    var check1 =  document.getElementById('check');
    check1.addEventListener('click',function(){
      if(check1.value == 0){
        campo.hidden = false;
      }else{
        campo.hidden = true;
      }
  });
</script>

{% endblock%}